body
  border-top: 8px solid $highlight-color
  background-color: $bg-color
  color: $base-color

a
  color: $highlight-color
  text-decoration: none
  &:hover
    color: $base-color
    text-decoration: underline

ul
  list-style: none
  text-indent: none
  padding-left: 0px

// Header -------------------------------------------

#site-header
  margin-bottom: 20px
  font-family: "proxima-nova"    

  nav
    +clearfix
    line-height: 52px
    height: 50px
    overflow: hidden
    margin: 0px 20px

    #site-title
      display: block
      float: left
      width: 130px
      height: 30px
      background: url("/images/logo-short.png") no-repeat -42px 0px
      background-size: 210px
      margin-top: 11px
      text-indent: -200px
      overflow: hidden
      float: left
    #site-links
      float: right
      a
        margin-left: 15px
        color: $base-color

  #stuck-intro
    clear: both
    font-size: 15px
    background: #eee
    padding: 15px 20px

// Individual post -----------------------------------------------

section, article
  padding: 0 20px
  h1, h2
    margin: 0

article
  header
    margin: 40px 0px
.date
  font-size: 0.8em
  color: #aaa
  font-family: "proxima-nova"

// List of posts -----------------------------------------------

ul#posts
  li
    margin-bottom: 20px