body
  border-top: 8px solid $highlight-color
  background-color: $bg-color
  color: $base-color

a
  color: $highlight-color
  text-decoration: none
  &:hover
    color: $base-color
    text-decoration: underline

h1, h2
  // margin-top: 10px
  // margin-bottom: 0px

p



header
  border-bottom: 1px solid #ccc
  height: 50px

  #site-title
    display: block
    width: 130px
    height: 30px
    background: url("/images/logo-short.png") no-repeat -42px 0px
    background-size: 210px
    margin-top: 12px
    text-indent: -200px
    overflow: hidden
    float: left

nav
  float: right
  line-height: 64px
  a
    margin-left: 10px
    color: $base-color