body
  border-top: 8px solid $highlight-color
  background-color: $bg-color
  color: $base-color

a
  color: $highlight-color
  text-decoration: none
  &:hover
    color: $base-color
    text-decoration: underline

h1, h2
  // margin-top: 10px
  // margin-bottom: 0px

p



#site-header
  border-bottom: 1px solid #ddd
  height: 50px
  margin-bottom: 20px
  font-family: "proxima-nova"

  #site-title
    display: block
    width: 130px
    height: 30px
    background: url("/images/logo-short.png") no-repeat -42px 0px
    background-size: 210px
    margin-top: 12px
    text-indent: -200px
    overflow: hidden
    float: left

nav
  float: right
  line-height: 64px
  a
    margin-left: 15px
    color: $base-color


article
  header
    margin: 40px 0px
  h1
    margin: 0
  .date
    font-size: 0.8em
    color: #aaa
    font-family: "proxima-nova"