
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=650">

  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  <title>
    Stuck.Pro
  </title>
  </head>

<body>
  <header>
    <a href="/" id="site-title">Stuck.Pro</a>

    <nav> 
      <a href="/2013">Archive</a>
      <a href="http://feeds.feedburner.com/usabilitypost">Feed</a>
    </nav>

  </header>

  {{ content }}

  <footer>
    
  </footer>

  <script type="text/javascript">
    (function() {
      var config = {
        kitId: 'sqc5sph',
        scriptTimeout: 9000
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  </script>

</body>
</html>

