
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=650">

  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  <title>
    Stuck.Pro
  </title>
  <script type="text/javascript" src="//use.typekit.net/sqc5sph.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

<body>
  <header id="site-header">
    <nav> 
      <a href="/" id="site-title">Stuck.Pro</a>
      <div id="site-links">
        <a href="/posts">Archive</a>
      </div>
    </nav>  
    <div id="stuck-intro">
      We help founders launch products. If you need technical training, business mentoring, or just some help when you get stuck, get in touch.
    </div>
  </header>
  <div id="site-content">
    {{ content }}
  </div>

  <footer>
    
  </footer>
</body>
</html>

